.container{
    max-width: 400px;
    border: 1px solid black;
    margin: 0;
    display: flex;
    margin-bottom: 15px;
}

.item{
    background-color: black;
    color: white;
    margin: 5px;
    text-align: center;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.column section {
    flex-direction: column;
    min-height: 300px;
}